<script type="text/javascript" src="{{ 'productlaunchbanner.js' | asset_url }}"></script>
<div style="width: 100%; min-height: 600px;">
  <!-- header starts -->
    <div id="header-panel-launch">
    	<div style="float: left; padding-right: 10px; border-right: 1px solid #e0e0e0;">
          <img src="{{'logo-apnaghar.jpg' | asset_url}}" style="height: 105px;"/>
        </div>
        <div style="float:left; padding:10px; width:650px;">
           <div style="font-size: 20px; margin-top: 30px;">
             Pre-Launch worth investing in Mira Road, Thane
          </div>
        </div>
        <div style="float: left; margin-left: 10px; margin-top: 20px;">

            <div style="">
              <img src="{{'logo-apnaghar-builder.jpg' | asset_url}}" style="height: 105px;"/>
            </div>
            <div style="text-align: center; margin-top: -107px; font-weight: bold; z-index: 999;">
              Project by
            </div>
        </div>
        <div style="clear: both;">
      </div>
    </div>
  <!-- header ends -->
  <!-- content starts -->
     <div id="content-panel-launch" style="clear: both; margin-top: 10px;">
        <div style="margin-top: 20px;">
            <div style="float: left; background-color:#f90b0e; height: 300px; width: 350px; border-radius: 3px;">
                <div style="font-weight: bold; font-size: 35px; margin-left: 30px; color:#fff; margin-top: 10px;">
                  Project Snapshot
                </div>
                <div style="font-size: 14px; text-align: left; color:#fff; margin-top: 30px; margin-left: 30px;">
                  <font style="font-weight: bold;">Property Type:</font> Residential 
                </div>
                <div style="font-size: 14px; text-align: left; color:#fff; margin-top: 10px; margin-left: 30px;">
                  <font style="font-weight: bold;">Location:</font> Mira Road, Thane
                </div>
                <div style="font-size: 14px; text-align: left; color:#fff; margin-top: 10px; margin-left: 30px;">
                  <font style="font-weight: bold;">Apartment Type:</font> 1 RK, 1.5 RK, 1 BHK, 1BHK (Master Bed)
                </div>
                <div style="font-size: 14px; text-align: left; color:#fff; margin-top: 10px; margin-left: 30px;">
                  <font style="font-weight: bold;">Area Range:</font> 261 sq ft - 532 sq ft
                </div>
                <div style="font-size: 14px; text-align: left; color:#fff; margin-top: 10px; margin-left: 30px;">
                 <font style="font-weight: bold;">Price PSF:</font> Rs 5500/- psf
                </div>
                <div style="font-size: 14px; text-align: left; color:#fff; margin-top: 10px; margin-left: 30px;">
                  <font style="font-weight: bold;">Apartment Cost:</font> Rs 14 Lakh Onwards
                </div>
              <div style="font-size: 14px; text-align: left; color:#fff; margin-top: 10px; margin-left: 30px;">
                  <font style="font-weight: bold;">Possession:</font> 36 Months
                </div>
            </div>
            <div style="float: left; background-color:#999; height: 300px; width: 600px;">
               <!-- image banner starts -->
               <div id="playBox">
                <div class="pre"></div>
                <div class="next"></div>
                <div class="smalltitle">
                  <ul>
                    <li class="thistitle"></li>
                    <li></li>
                    <li></li>
                    <li></li>
                  </ul>
                </div>
                <ul class="oUlplay">
                   <li><img src="{{'1.jpg' | asset_url}}" style="width: 100%; height: 300px;"/></li>
                   <li><img src="{{'2.jpg' | asset_url}}" style="width: 100%; height: 300px;"/></li>
                   <li><img src="{{'3.jpg' | asset_url}}" style="width: 100%; height: 300px;"/></li>
                   <li><img src="{{'4.jpg' | asset_url}}" style="width: 100%; height: 300px;"/></li>
                </ul>
              </div>
              <!-- image banner ends -->
           </div>
       </div>
     </div>
  <!-- content ends -->
  <div style="clear: both;">
  </div>
  <!-- full brief and google form panel starts -->
  <div style="margin-top: 20px;">
     <div style="margin-top: 20px;">
        <!-- left panel starts -->
       		<div style="padding: 10px; width: 600px; float: left; min-height: 500px;">
               <!-- content starts -->
                <div>
                  <ul class="tabs">
                  <li><a href="#tab-1">Overview</a></li>
                   <li><a href="#tab-3">Floor Plan</a></li>
                  <li><a href="#tab-2">Terms &amp; Conditions:</a></li>
                    
                  </ul>
                  <!-- overview tab starts here -->
                  <div id="tab-1">
                    <!-- product info starts -->
                    <p>
                      1.  <strong>Total Land Area:</strong> 10 Acres<br/><br/>
                      2.  <strong>Apartments Type:</strong> 1RK, 1.5 RK, 1 BHK, 1BHK (Master Bed)<br/><br/>
                      3.  <strong>No. of Floors:</strong> 13<br/><br/>
                      4.  <strong>Total no of Towers:</strong> 11<br/><br/>
                      5.  <strong>Possession:</strong> 36 Months<br/><br/>
                      6.  <strong>Location Benefit:</strong> All infrastructure available like school, hospital, college, bus stands, major brands,malls, local transport, 24 hours electricity, municipal water,etc.<br/><br/>
                      7.  A project very near to Mira Bhayander Highway<br/><br/>
                      8.  Just 5 mins from Thakur Mall and Inox Theatre.<br/><br/>
                      9.  2500 families to accommodate in the project.<br/><br/>
                      10. Exclusive garden and lifts available in the complex.<br/><br/>
                      11. Prime locality of Mira Bhayandar.<br/><br/>
                      11. Surround by high end / Premium Projects of Mira Road 
                    </p>
                    <!-- product info ends -->
                  </div>
                  <div id="tab-2">
                    <p>
                       1. This is just an Inquiry Form, it does guarantee any deal with the website owners or the builder.<br/><br/>
                       2. This offer is available for a limited period only. Details will be provided to you by the promoters.<br/><br/>
                       3. To avail this offer a minimum booking amount is required, for more details, you can even give a missed call on <strong>+91 8767496070</strong><br/><br/>
                       4. Please read the offer documents carefully during booking before investing.<br/><br/>
                       5. All the Terms &amp; conditions of the builder are applicable.<br/><br/>
                       6. This offer is subjected to Mumbai Jurisdiction only.<br/><br/>
                       7. In case of any discrepancy or issues decision of the Owner / Builder subjected to this offer will be Legal and Binding.<br/><br/>
                       8. In case of any discrepancy or issues decision of the Website Owner subjected to this website will be Legal and Binding.<br/><br/>
                    </p>
                  </div>
                  <div id="tab-3">
                       {% include 'floor-plan-apnaghar' %}
                  </div>
               </div>
              <!-- content ends --> 
            </div>
        <!-- left panel ends -->
       <!-- right panel starts -->
         <div style="float: left; width: 295px; margin-left: 10px;">
            <div style="background-color:#f90b0e; padding: 10px; min-height: 490px; ">
              {% include 'google-new-project-form' %}
            </div>
       </div>
       <!-- right panel ends -->
    </div>
  </div>
  <!-- full brief and google form panel ends -->
</div>
<div style="clear: both; height: 20px;">
</div>