<script type="text/javascript" src="{{ 'mzp-packed.js' | asset_url }}"></script>
                       <div class="box">
                          <div class="left-pro">
                              <div class="t1">
                                  <img src="{{ 'gotop.gif' | asset_url }}" id="gotop" />
                                  <div id="showArea">
                                      
                                      <a href="{{ 'apna_ghar_layout2.jpg' | asset_url }}" rel="zoom1" rev="{{ 'apna_ghar_layout2.jpg' | asset_url }}"><img src="{{ 'apna_ghar_layout2s.jpg' | asset_url }}" /></a>
                                    <a href="{{ 'apna_ghar_layout1.jpg' | asset_url }}" rel="zoom1" rev="{{ 'apna_ghar_layout1.jpg' | asset_url }}"><img src="{{ 'apna_ghar_layout1s.jpg' | asset_url }}" /></a>
                                      <a href="{{ 'apna_ghar_layout3.jpg' | asset_url }}" rel="zoom1" rev="{{ 'apna_ghar_layout3.jpg' | asset_url }}"><img src="{{ 'apna_ghar_layout3s.jpg' | asset_url }}" /></a>
                                    <a href="{{ 'apna_ghar_layout5.jpg' | asset_url }}" rel="zoom1" rev="{{ 'apna_ghar_layout5.jpg' | asset_url }}"><img src="{{ 'apna_ghar_layout5s.jpg' | asset_url }}" /></a>
                                    <a href="{{ 'apna_ghar_layout4.jpg' | asset_url }}" rel="zoom1" rev="{{ 'apna_ghar_layout4.jpg' | asset_url }}"><img src="{{ 'apna_ghar_layout4s.jpg' | asset_url }}" /></a>
                                </div>
                                  <img src="{{ 'gobottom.gif' | asset_url }}" id="gobottom"  />
                              </div>
                              <div class="t2">
                              <a href="{{ 'apna_ghar_layout2.jpg' | asset_url }}" id="zoom1" class="MagicZoom MagicThumb"><img src="{{ 'apna_ghar_layout2.jpg' | asset_url }}" id="main_img" class="main_img" style="width:400px; height:400px;" /></a>
                              </div>
                          </div>
                      </div>
                      <div style="clear:both;"></div>
                       <script type="text/javascript" src="{{ 'floor-plan-gallery.js' | asset_url }}"></script>