<div style="margin-top: 20px; background-color:#f90b0e; margin-left: 5px; width:230px;">
  <div class="professional-main-heading" style="cursor: pointer; text-align: center; padding: 20px; color:#fff; border-radius: 5px;">
     <i class="fa fa-share-alt" style="color:#fff; " ></i>&nbsp;&nbsp;Share Me
  </div>
  
  <div style="min-height: 20px; padding: 15px; text-align: center; font-size: 23px; font-weight: bold; background-color:#e0e0e0; margin-top: -5px;">
   <!-- Email -->
    <div id="social-bt">
      <a href="mailto:?subject={{ product.title }}&body={{shop.url}}{{product.url}}" target="_blank" class="share-btn email" style="color:#f90b0e;">
        <i class="fa fa-envelope"></i>
    </a>
    </div>
    <div id="social-bt">
    <!-- LinkedIn -->
    <a href="http://www.linkedin.com/shareArticle?url={{shop.url}}{{product.url}}&title={{ product.title }}&summary={{ about }}" target="_blank" style="color:#f90b0e;" class="share-btn linkedin">
        <i class="fa fa-linkedin"></i>
    </a>
    </div>
    <div id="social-bt">
    <!-- Facebook -->
    <a href="http://www.facebook.com/sharer/sharer.php?u={{shop.url}}{{product.url}}" target="_blank" style="color:#f90b0e;" class="share-btn facebook">
        <i class="fa fa-facebook"></i>
    </a>
    </div>
    <div id="social-bt">
    <a href="http://twitter.com/share?url={{shop.url}}{{product.url}}&text={{ product.title }}&via={{shop.url}}" target="_blank" style="color:#f90b0e;" class="share-btn twitter">
    <i class="fa fa-twitter"></i>
   </a>
    </div>
    <div id="social-bt">
    <!-- Google Plus -->
    <a href="https://plus.google.com/share?url={{shop.url}}{{product.url}}" target="_blank" style="color:#f90b0e;" class="share-btn google-plus">
        <i class="fa fa-google-plus"></i>
    </a>
    </div>
    <div style="clear: both;">
    </div>
</div>
</div>