<html>
  <head>
    <style type="text/css">
      /*-------------------------------*/
/*      Code snippet by          */
/*      @maridlcrmn              */
/*-------------------------------*/

        .centered
{
   /* text-align:center;*/
  padding-top:20px;
  padding-bottom:20px;
}    
      .logo
      {
        height :45px!important;
      }
      
      dd
      {
        margin-bottom:50px;
      }
      
      .large
      {
        font-size: larger!important;
      }
      
       .large1
      {
        font-size: 23px!important;
        margin:0px 0px 0px!important;
        
      }
      
      .mess
      {
        color :#666666;
      }
      .widthclass
      {
        width:80%;
      }
      

      
section {
    padding-top: 100px;
    padding-bottom: 100px;
}

.quote {
    color: rgba(0,0,0,.1);
    text-align: center;
    margin-bottom: 30px;
}

/*-------------------------------*/
/*    Carousel Fade Transition   */
/*-------------------------------*/

#fade-quote-carousel.carousel {
  padding-bottom: 60px;
}
#fade-quote-carousel.carousel .carousel-inner .item {
  opacity: 0;
  -webkit-transition-property: opacity;
      -ms-transition-property: opacity;
          transition-property: opacity;
}
#fade-quote-carousel.carousel .carousel-inner .active {
  opacity: 1;
  -webkit-transition-property: opacity;
      -ms-transition-property: opacity;
          transition-property: opacity;
}
#fade-quote-carousel.carousel .carousel-indicators {
  bottom: 10px;
}
#fade-quote-carousel.carousel .carousel-indicators > li {
  background-color: #e84a64;
  border: none;
}
#fade-quote-carousel blockquote {
    text-align: center;
    border: none;
}
#fade-quote-carousel .profile-circle {
    width: 100px;
    height: 100px;
    margin: 0 auto;
    border-radius: 100px;
}
      
      
.lp-pom-box-85 {
/* display: block; 
background: rgba(255,255,255,0);
-pie-background: rgba(255,255,255,0);
border-style: solid;
border-width: 5px;
border-color: #3e9ce3;*/
left: 0px;
z-index: 1;
/*width: 413px;*/
height: 100%;
position: absolute;
border-radius: 10px; 
   
     display: block;
border: 2px solid #E6E6E6;
box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
}    

    </style>
    
   
  </head>
  <body>

	<div class="content">
      <div id="page-{{page.handle}}">
       <div class="content">
	<div class="row clearfix">
		<div class="col-md-12 column">
			<div class="carousel slide" id="carousel-307862">
				<ol class="carousel-indicators">
					<li class="active" data-slide-to="0" data-target="#carousel-307862">
					</li>
					<li data-slide-to="1" data-target="#carousel-307862">
					</li>
					<li data-slide-to="2" data-target="#carousel-307862">
					</li>
				</ol>
				<div class="carousel-inner">
					<div class="item active">
					<img src="{{ 'internet_for_quality.jpg' | asset_url }}" alt="">
						<div class="carousel-caption">
							
						
						</div>
					</div>
					<div class="item">
						
                      <img src="{{ 'experience_is_important.jpg' | asset_url }}" alt="">
						<div class="carousel-caption">
							
						</div>
					</div>
					<div class="item">						
                       <img src="{{ 'profile_Online_Offline.jpg' | asset_url }}" alt="">
						<div class="carousel-caption">
							
						</div>
					</div>
				</div> 
			</div>
			
          
		</div>
	</div>
         
         <div class="row clearfix">
		<div class="col-md-12 column">
			<p style="margin: 0px 0px 50px">

			</p>
		</div>
	</div>
         
    
	<div class="row clearfix">
		<div class="col-md-12 column">
			<h1 class="text-center">
              <b class="large">Brokers /  Real Estate Agents</b>
			</h1>
			
          <h4 class="text-center mess">Join the growing platform of experienced Professionals</h4>
			
		</div>
	</div>

                  <div class="row clearfix">
		<div class="col-md-12 column">
			<p style="margin: 0px 0px 50px">

			</p>
		</div>
	</div>
         
       
	<div class="row clearfix">		
		<div class="col-md-6 column">                    
          <div class="col-md-2 column">
<img src="{{ 'multiple25.png' | asset_url }}" alt="" class="widthclass">   
                  
          </div>
                
          <div class="col-md-10 column">
<p>  
  <span>
    <p class="large1"><b> Who we are?</b></p>
  </span>  
  <span>
    Biggest "Online and Offline" platform of Experienced, Verified & Rated Professionals in Real Estate.
  </span>
  
</p>                 
          </div>
			
          
          
            		<div class="col-md-2 column">
<img src="{{ 'handshake1.png' | asset_url }}" alt="" class="widthclass">   
          </div>
                
          <div class="col-md-10 column">
<p>
  
  <span>
    <p class="large1"><b> What we do for Professionals?</b></p>
  </span>
  
  
  <span>
    
    We help you to connect the right prospects who is looking to deal with transparent and quality professionals.
  </span>
  
            </p>                 
          </div>
          
          
            <div class="col-md-2 column">
<img src="{{ 'screwdriver3.png' | asset_url }}" alt="" class="widthclass">   
                  
          </div>
                
          <div class="col-md-10 column">
<p>  
  <span>
    <p class="large1"><b> How we do?</b></p>
  </span>  
  <span>
    <ul>
    <li>Send details</li>
<li>We will call and meet you</li>
  <li>A cup of coffee and discussion</li>
  <li>Listing of profile</li>
    </ul>
  </span>
  
</p>                 
          </div>
          
          
             <div class="col-md-2 column">
<img src="{{ 'ascendant6.png' | asset_url }}" alt="" class="widthclass">   
                  
          </div>
                
          <div class="col-md-10 column">
<p>  
  <span>
    <p class="large1"><b> Benefits</b></p>
  </span>  
  <span>
  <ul>
                <li>Quality prospects, Better sales productivity</li>
                <li>Reach to your prospects the right way</li>
                 <li>Better profile and ratings attract quality customers </li>
                 <li>Be there where your prospect is looking</li>
                 <li>Optimise your marketing and advertising spent</li>                          
                          
            </ul>
  </span>
  
</p>                 
          </div>
          
          
          
          
          
		</div>

		
		
          
          	{% include 'GoogleAllEnquiry' %}
        
           
          
      
                      
          
           
		</div>
	</div>
         
      
        
	<div class="row clearfix">
		<div class="col-md-12 column">
			<p style="margin: 0px 0px 50px">

			</p>
		</div>
	</div>

         
         
	<div class="row clearfix">
		<div class="col-md-12 column">
			<div class="carousel slide" id="carousel-769640">
              <div class="carousel slide" id="fade-quote-carousel" data-ride="carousel" data-interval="3000">
				<ol class="carousel-indicators">
					<li class="active" data-slide-to="0" data-target="#carousel-769640">
					</li>
					<li data-slide-to="1" data-target="#carousel-769640">
					</li>
					<li data-slide-to="2" data-target="#carousel-769640">
					</li>
				</ol>
				<div class="carousel-inner">
				<div class="active item">
				    	<blockquote>
				    		<p>
                          
This is an amazing platform, where i am able to meet the like minded people who always share the right knowledge which helps me to improve my delivery to the customer.
                          </p>
				    	</blockquote>
				    	<div class="profile-circle" style="background-color: rgba(0,0,0,.2);"></div>
                  <div class="text-center">
                      Mr. Rakesh Sahu
                      </div>
                       <div class="text-center">                      

                      </div>
				    </div>
				    <div class="item">
				    	<blockquote>
				    		<p>There is a big crowd of brokers and real estate agents in India, but selecting a right professional by customer is still a challenge. So we have created a first online & offline platform of Experienced, Verified and Rated Professionals. We believe finding out a right professional by a customer should not be difficult anymore. So we invite all the Brokers & Real estate agents to come and join this first network of quality professionals</p>
				    	</blockquote>
				    	<div class="profile-circle" style="background-color: rgba(77,5,51,.2);"></div>
                      <div class="text-center">
                     Sonu Bajaj
                      </div>
                       <div class="text-center">                      
Founder, In-Focus
                      </div>
				    </div>
				 
				
				</div>
              
              
              
			</div>
		</div>
	</div>

</div>
      
      
    

    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
         <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css">
  </body>
</html>
	</div>
	
</div><!-- /.col-content -->


