<html>
  <head>
    <style type="text/css">
      /*-------------------------------*/
/*      Code snippet by          */
/*      @maridlcrmn              */
/*-------------------------------*/

      
      .centered
{
   /* text-align:center;*/
  padding-top:20px;
  padding-bottom:20px;
}
      
      .logo
      {
        height :45px!important;
      }
      
      dd
      {
        margin-bottom:50px;
      }
      
      .large
      {
        font-size: larger!important;
      }
      
       .large1
      {
        font-size: 23px!important;
        margin:0px 0px 0px!important;
        
      }
      
      .mess
      {
        color :#666666;
      }
      .widthclass
      {
        width:80%;
      }
      

      
section {
    padding-top: 100px;
    padding-bottom: 100px;
}

.quote {
    color: rgba(0,0,0,.1);
    text-align: center;
    margin-bottom: 30px;
}

/*-------------------------------*/
/*    Carousel Fade Transition   */
/*-------------------------------*/

#fade-quote-carousel.carousel {
  padding-bottom: 60px;
}
#fade-quote-carousel.carousel .carousel-inner .item {
  opacity: 0;
  -webkit-transition-property: opacity;
      -ms-transition-property: opacity;
          transition-property: opacity;
}
#fade-quote-carousel.carousel .carousel-inner .active {
  opacity: 1;
  -webkit-transition-property: opacity;
      -ms-transition-property: opacity;
          transition-property: opacity;
}
#fade-quote-carousel.carousel .carousel-indicators {
  bottom: 10px;
}
#fade-quote-carousel.carousel .carousel-indicators > li {
  background-color: #e84a64;
  border: none;
}
#fade-quote-carousel blockquote {
    text-align: center;
    border: none;
}
#fade-quote-carousel .profile-circle {
    width: 100px;
    height: 100px;
    margin: 0 auto;
    border-radius: 100px;
}
      
      
 .lp-pom-box-85 {
/* display: block; 
background: rgba(255,255,255,0);
-pie-background: rgba(255,255,255,0);
border-style: solid;
border-width: 5px;
border-color: #3e9ce3;*/
left: 0px;
z-index: 1;
/*width: 413px;*/
height: 100%;
position: absolute;
border-radius: 10px; 
   
     display: block;
border: 2px solid #E6E6E6;
box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
}    

    </style>
    
   
  </head>
  <body>

	<div class="content">
      <div id="page-{{page.handle}}">
       <div class="content">
	<div class="row clearfix">
		<div class="col-md-12 column">
			<div class="carousel slide" id="carousel-307862">
				<ol class="carousel-indicators">
					<li class="active" data-slide-to="0" data-target="#carousel-307862">
					</li>
					<li data-slide-to="1" data-target="#carousel-307862">
					</li>
					<li data-slide-to="2" data-target="#carousel-307862">
					</li>
				</ol>
				<div class="carousel-inner">
					<div class="item active">
					<img src="{{ 'In-focus_Web_Banner_3.jpg' | asset_url }}" alt="">
						<div class="carousel-caption">
							
						
						</div>
					</div>
					
				</div> 
			</div>
			
          
		</div>
	</div>
         
         <div class="row clearfix">
		<div class="col-md-12 column">
			<p style="margin: 0px 0px 50px">

			</p>
		</div>
	</div>
         
    
	<div class="row clearfix">
		<div class="col-md-12 column">
			<h1 class="text-center">
              <b class="large">Sellers / Landlords</b>
			</h1>
			
          <h4 class="text-center mess">Send your details to sell / lease your property fast</h4>
			
		</div>
	</div>

                  <div class="row clearfix">
		<div class="col-md-12 column">
			<p style="margin: 0px 0px 50px">

			</p>
		</div>
	</div>
         
       
	<div class="row clearfix">		
		<div class="col-md-6 column">                    
          <div class="col-md-2 column">
<img src="{{ 'multiple25.png' | asset_url }}" alt="" class="widthclass">   
                  
          </div>
                
          <div class="col-md-10 column">
<p>  
  <span>
    <p class="large1"><b> Who we are?</b></p>
  </span>  
  <span>
   Biggest "Online and Offline" platform of Experienced, Verified & Rated Professionals in Real Estate.
  </span>
  
</p>                 
          </div>
			
          
          
            		<div class="col-md-2 column">
<img src="{{ 'handshake1.png' | asset_url }}" alt="" class="widthclass">   
          </div>
                
          <div class="col-md-10 column">
<p>
  
  <span>
    <p class="large1"><b>What we do for Sellers / Landlords ?</b></p>
  </span>
  
  
  <span>
    
   We reduces your efforts of reaching to Multiple brokers, listing your property in multiple sites. We make your property reach to the prospects or right professionals fast and help you to deal with the quality professionals which saves your time & efforts.

  </span>
  
            </p>                 
          </div>
          
          
            <div class="col-md-2 column">
<img src="{{ 'screwdriver3.png' | asset_url }}" alt="" class="widthclass">   
                  
          </div>
                
          <div class="col-md-10 column">
<p>  
  <span>
    <p class="large1"><b> How we do?</b></p>
  </span>  
  <span>
    <li> Send us your Details</li>
<li> We will contact you and understand your property details</li>
<li> Share it with our huge network of professionals as well as prospects</li>
<li> Sell / Lease your property fast</li>

  </span>
  
</p>                 
          </div>
          
          
             <div class="col-md-2 column">
<img src="{{ 'ascendant6.png' | asset_url }}" alt="" class="widthclass">   
                  
          </div>
                
          <div class="col-md-10 column">
<p>  
  <span>
    <p class="large1"><b> Benefits</b></p>
  </span>  
  <span>
  
    
    <li>save Time, Effort & Money</li>
<li>Transparent & clear deals</li>
<li>No unnecessary meeting with prospects, only with filtered prospects </li>
<li>Dealing with quality professionals </li>
<li>Better price and fast transaction</li>
                
                          
            
  </span>
  
</p>                 
          </div>
          
          
          
          
          
		</div>

					{% include 'GoogleAllEnquiry' %}
                      
          
           
		</div>
	</div>
         
      
        
	<div class="row clearfix">
		<div class="col-md-12 column">
			<p style="margin: 0px 0px 50px">

			</p>
		</div>
	</div>

         
         
	<div class="row clearfix">
		<div class="col-md-12 column">
			<div class="carousel slide" id="carousel-769640">
              <div class="carousel slide" id="fade-quote-carousel" data-ride="carousel" data-interval="3000">
				<ol class="carousel-indicators">
					<li class="active" data-slide-to="0" data-target="#carousel-769640">
					</li>
					<li data-slide-to="1" data-target="#carousel-769640">
					</li>
					<li data-slide-to="2" data-target="#carousel-769640">
					</li>
				</ol>
				<div class="carousel-inner">
				<div class="active item">
				    	<blockquote>
				    		<p>
                          While selling or renting your property, either you have to rely on one individual broker, spend on listings and advertising or deal with multiple brokers coming to you. Lot of time, effort and money is spent before you finally sell or lease your property. So we have created a first online & offline platform where you just need to send your details and your property will reach to multiple Experienced, Verified and Rated Professionals thats too FREE who will help you to sell / lease your property fast. 


                          </p>
				    	</blockquote>
				    	<div class="profile-circle" style="background-color: rgba(0,0,0,.2);"></div>
                  <div class="text-center">
                      Sonu Bajaj
                      </div>
                       <div class="text-center">                      
						Founder, In-Focus
                      </div>
				    </div>
				 
				   
				
				</div>
              
              
              
			</div>
		</div>
	</div>

</div>
      
      
    

    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
         <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css">
  </body>
</html>
	</div>
	
</div><!-- /.col-content -->


